
body{
    background-color: pink;
}

h1{
    color: bisque;
    background-color: palevioletred;
    border: solid 1px rgb(218, 80, 126);
    width: 24%;
    text-align: center;
    border-radius: 10px;
    position: fixed;
}

h1:hover{
    color: aliceblue;
}

h4{
    width: 100%;
}

.formulario{
    text-align: center;
}

form{
    text-align: center;
    position: relative;
    width: 60%;
}

h4{
    text-align: center;
}

.divContenedor{
    text-align: center;
}


form{
    width: 100%;
}
div.divForm{
    text-align: right;
    justify-content: end;
}

.divForm{
    text-align: center;
}

img{
    width: 50%;
    border-radius: 3%;
}

.formulario{
    padding: 4%;
}

.formularioHijo {
    text-align: center;
    color: aliceblue;
    margin: auto;
    width: 280px;
    border: solid 2px white;
    background-color: rgb(248, 197, 134);
    border-radius: 3%;
}

.formularioHijo label{
    display: grid;
}

form ul li {
    list-style: none;
    border-radius: 2%;
}
li {
    padding: 10px;
    font-family: fantasy;
    font-size: x-large;
}

li label{
    text-align: center;
}

.divForm{
    text-align: center;
    padding: 2px;
}

.NombreUsuario{
    font-size: larger;
    justify-content: center;
}

.form{
    width: 60%;
    text-align: center;
}